body {
    background-color: white !important;
}

.dasboard-upper-bar {
    min-height: 50px;
    max-height: 15vh;
    background-color: #333333;
    color: white;
}

.dashboard-body {
    min-height: 88vh;
    background-color: #F9F9F9;
}

.dashboard-content {
    background-color: #FFFFFF;
}