.dash-nav {
    min-height: 7vh;
    background-color: red;
}

.dash-box {
    min-height: 93vh;
}

.dash-left-panel {
    background-color: white;
}

.dash-right-panel {
    background-color: white;
}

.dash-center-panel {
    background-color: gray;
}