.dash-box {
    min-height: 100vh;
    /* background-image: url('../../assets/background.jpg'); */
}

.dash-left-panel {
    background-color: rgba(255, 255, 255, 0.6);
}

.dash-right-panel {
    background-color: rgba(255, 255, 255, 0.6);
}

.dash-center-panel {
}

.dash-left-nav-logo {
    width: 50%;
    margin: 3% auto;
}

.dash-left-nav-btn {
    font-size: 1.6em;
}