.OrDivider {
    display: block;
    position: relative;
    width: 64px;
    margin: 0.6em auto !important;
    /* background-color: #fafafa; */
}

.OrDivider .BackLine {
    display: block;
    position: absolute;
    top: 50%;
    width:  118px;
    height: 1px;
    background-color: rgba(255,255,255,0.3);
}

.OrDivider .BackLine.LeftLine {
    right: 64px;
}

.OrDivider .BackLine.RightLine {
    left: 64px;
}