.ForgotPasswordPage {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background-image: url("../../../assets/images/Teclado1500x1000.jpg");
    background-size: cover;
}

.ForgotPasswordPage form {
    max-width: 300px;
    margin: 0 auto;
}

.ForgotPasswordPage form > * {
    margin-top: 1.2em;
    margin-bottom: 0;
}

.ForgotPasswordPage form > *:last-child {
    margin-top: 0;
}

.ForgotPasswordPage form > *:first-child {
    margin-top: 0;
}