.ForgotPasswordPage {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.ForgotPasswordPage form {
    max-width: 300px;
    margin: 0 auto;
}

.ForgotPasswordPage form > * {
    margin-top: 0.6em;
    margin-bottom: 0;
}

.ForgotPasswordPage form > *:first-child {
    margin-top: 0;
}