/* General Configurations */
.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.App a { text-decoration: none; }

/* Router & Menu Configurations */
.RouterComponent {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /*Force full-width*/
}

.RouterComponent.HaveMenu {
    padding-left: 240px;
}

@media screen and (max-width: 600px) {
    .RouterComponent.HaveMenu {
        padding-left: 0;
    }
}

/* Form Configurations */

.FormSection > * {
    margin-top: 1.2em!important;
    margin-bottom: 0!important;
}

.FormSection > *:first-child {
    margin-top: 0!important;
}