/* General Configurations */
.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.App a { text-decoration: none; }

/* Router Component */
.RouterComponent {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /*Force full-width*/
}
