.LoginPage {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background-image: url("../../../assets/images/Teclado1500x1000.jpg");
    background-size: cover;
}

.LoginPage form {
    max-width: 300px;
    margin: 0 auto;
}

.LoginPage form > * {
    margin-top: 1.2em;
    margin-bottom: 0;
}

.LoginPage form > *:last-child,
.LoginPage form > *:first-child {
    margin-top: 0;
}


.LoginPage .ForgotLink { 
    /* color: #fafafa; */
    font-weight: normal;
}